<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script defer data-domain="artificialruby.ai" src="https://plausible.io/js/script.js"></script>
    <style>
    .site-background {
    background-image: url('{{ "/assets/images/artruby_bg.jpg" | relative_url }}');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    }
    </style>
  </head>
  <body class="min-h-screen site-background bg-[#F7F0E4]">
    <main class="mt-8">
      {{ content }}
    </main>
    </div>
  </body>
</html>
